@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #8b5cf6;
  color: white;
}

.heading {
  color: #0f172a;
}
